option_settings:
  # RDS Database configuration
  aws:rds:dbinstance:
    DBEngine: postgres
    DBEngineVersion: "16"
    DBInstanceClass: db.t3.micro
    DBAllocatedStorage: 20
    DBUser: parseuser
    MultiAZDatabase: false
  
  # Note: After RDS is created, you need to manually set PARSE_SERVER_DATABASE_URI
  # using the following command:
  # eb setenv PARSE_SERVER_DATABASE_URI="postgres://parseuser:YOUR_PASSWORD@RDS_ENDPOINT:5432/ebdb"
  # You can get the RDS endpoint from: eb printenv | grep RDS_HOSTNAME
  #
  # WARNING: MultiAZDatabase is set to false for cost savings. For HIPAA compliance
  # and production deployments, set this to true for high availability.
