files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_database_uri.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Set DATABASE_URI from RDS environment variables
      if [ -n "$RDS_HOSTNAME" ]; then
        export DATABASE_URI="postgres://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME:$RDS_PORT/$RDS_DB_NAME"
        # Also set for the Parse Server
        export PARSE_SERVER_DATABASE_URI="postgres://$RDS_USERNAME:$RDS_PASSWORD@$RDS_HOSTNAME:$RDS_PORT/$RDS_DB_NAME"
      fi

option_settings:
  # Docker container configuration
  aws:elasticbeanstalk:container:docker:
    DockerVersion: "20.10.7"
  
  # Environment properties for database
  aws:elasticbeanstalk:application:environment:
    # These will be set by the pre-deploy hook script
    PARSE_SERVER_DATABASE_URI: ""
